*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .container {
    width: 40%;
    height: 40%;
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container input {
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 80%;
    outline: none;
  }
  
  .container button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    background: crimson;
    width: 150px;
    color: #fff;
    cursor: pointer;
  }
  .bg-img{
    background: url("https://img.freepik.com/free-photo/view-leopard-animal-wild_23-2150374858.jpg?size=626&ext=jpg&uid=R114821331&ga=GA1.2.2095423644.1693310655&semt=sph");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    filter: blur(20px);
  }