body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #000000;
  }
.paragraph{
    background: rgb(7, 7, 7);
    width: 25rem;
    padding: 30px;
    color: white;


}  
.scroll-div {
    width: 400px;
    height: 500px;
    background: rgb(7, 7, 7);
    overflow: hidden;
    overflow-y: scroll;
  }