body{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Playfair Display', serif;
}
.container{
    width: 300px;
    padding: 22px;
    text-align: center;
    border-radius: 5px;
    margin-top: 2%;
    background-color: #fff;

}
img{
    width: 210px;
    margin-top: -22px;
}
.srch{
    display: flex;
    margin-top: 11px;

}
input{
    width: 200px;
    padding: 16px;
    border-radius: 16px;
    height: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgb(228, 247, 254);
}
::placeholder{
    color: black;

}

button{
    width: 50px;
    height: 35px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgb(217, 242, 252);
    outline: none;
    border: none;
    padding: 7px;
    gap: 3px;
}
#city{
    margin-top: 33px;
    font-size: 33px;
}
#type{
    font-size: 33px;
}
#temp{
    font-size: 40px;
    margin-top: -8px;
}