body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#emoji{
    font-size: 10rem;
    filter: grayscale(1);
    transition-property: transform , filter;
    cursor: pointer;
    transition-duration: 200ms;
}
#emoji:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}