*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(pink , cyan);
    color: rgb(0, 0, 0);
}
.container{
    width: 90%;
    margin: 10px auto;
}
.portfolio-menu{
    text-align: center;
  
    
}
.portfolio-menu ul li{
 list-style: none;
 display: inline-block;
 margin: 20px 0px;
 border: 1px solid red;
 transition: 0.5s ease;
 cursor: pointer;
 padding: 15px;
}
.portfolio-menu ul li:hover{
    background-color: red;
    color: black;
}
.portfolio-menu ul li.active{
    background: red;
}
.portfolio-items {
    width: 100%;
    margin-left: 5%;

}
.portfolio-items .item{
    width: 250px;
    height: 250px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;

}
.portfolio-items .item img{
    width: 100%;
    height: 100%;
}