*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "poppins" , sans-serif;
}

body{
    background: linear-gradient(rgb(255, 255, 255) , rgb(255, 255, 255));
    height: 100vh;
}
.container{
    background-color: #000000;
    width: min(90% , 500px);
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
}
.container h1{
    color: rgb(255, 255, 255);

}
label{
    display: block;

    color: rgb(255, 255, 255);
    margin-bottom: 0.3em;


}
label[for = "text1"]{
    margin-top: 2em;

}
#text1{
    margin-bottom: 2em;

}
input{
    display: block;
    width: 100%;
    padding: 1em 0.5em;
    border-radius: 0.3em;
    background-color: #354342;
    outline: none;
    color: white;
    border: none;
}
button{
    display: block;
    margin: 2em auto 1em auto;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    font-weight: 600;
}
p{
    color: white;
    text-align: center;
}