*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(0, 0, 0, 0.3); */
    z-index: 9;
text-align: center;font-family: 'Cormorant', serif;

}
nav{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    padding: 11px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-inline: 14px;
}
.main{
    background: url("img/headerBcg.jpeg") ;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;

  

}

span{
    color: red;

}
.txt{

padding-top: 190px;
   text-align: center;
   align-items: center; 

  
}
.txt h1{
    text-align: center;
font-size: 70px;
font-family: 'Cormorant', serif;
letter-spacing: 3px;
   
}
.about{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px;
}
.about .card{
    width: 500px;
    height: 400px;
    border: 10px solid pink;


}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 20px;
}
.about h1{
    font-size: 50px;
}
.tent{
    padding: 15px;
}
.card img:hover{
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.5s ease;
    /* background-color: aquamarine; */
}
.about span{
    font-size: 90px;
}
.main span{
    font-size: 100px;
}
.store{
    background-color: #e7e7e0;
}
.store span{
    font-size: 70px;

}
.store h1{
    font-size: 50px;
}
input{
    border: none;
    outline: none;
    width: 590px;
    padding: 11px;
    margin-top: 20px;
}
.main button{
    border: 1px solid rgb(189, 184, 184);
    background-color: transparent;
    padding: 8px;
    width: 120px;
    font-size: 18px;
    text-transform:uppercase;
    /* border: none; */
    outline: none;border-radius: 4px;
}
.main button:hover{
    background-color: black;
    color: red;
    transition: all ease;
    cursor: pointer;
}
nav button{
    border: 1px solid rgb(189, 184, 184);
    background-color: transparent;
    padding: 8px;
    width: 170px;
    font-size: 14px;border-radius: 4px;
 
}
nav button:hover{
    background-color: black;
    color: red;
    transition: all ease;
    cursor: pointer;
}
.smallcrt{
    width: 450px;
    height: 300px;background-color: #fff;
   

}
.smallcrt img{
width: 100%;
height: 100%; 

}
.crt{
    display: flex;
    justify-content: space-around;  
gap: 14px;
padding: 40px;
margin-top: 40px;

}
.txxt{
    background-color: #fff;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.txxt  p{
    font-size: 20px;
}
.store button{
    border: 1px solid rgb(189, 184, 184);
    background-color: transparent;
    padding: 8px;
    width: 75px;
    font-size: 14px;
    padding: 6px;
    margin: 20px;
    border-radius: 4px;
}
.store button:hover{
    background-color: black;
    color: red;
    transition: all ease;
    cursor: pointer;
}
.about button{
    border: 1px solid rgb(189, 184, 184);
    background-color: transparent;
    padding: 8px;
    width: 120px;
    font-size: 18px;
    text-transform:uppercase;
    /* border: none; */
    outline: none;border-radius: 4px; margin-top: 11px;
}
.about button:hover{
    background-color: black;
    color: red;
    transition: all ease;
    cursor: pointer;
   
}