*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.timer{
    display: flex;
}
.box{
    position: relative;
    background-color: white;
    color: black;
    height: 140px;width: 140px;
    margin: 4px;
    font-size: 3.2rem;
    align-items: center;

}
h4{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    padding: 8px 0;
    
}