*{
    margin: 0;
    padding: 0;
}
.card{
    display: flex;margin-top: 22px;
}
.left img{
    width: 406px;
    object-fit: cover;
    margin-inline: 32px;

}
.card .img img{
    width: 74px;object-fit: cover;
    margin-left: 22px;

}
.card .right{
    margin-top: 11px;

}
.right h3{
    margin-top: 11px;
}
.right h1{
    margin-top: 11px;
}
.right h4{
    margin-top: 11px;
}
.right p{
    margin-top: 11px;
}
.right button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    margin-inline: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(207, 166, 173);
margin-top: 22px;
font-weight: 600;
}
.right button:hover{
    background-color: aliceblue;
    color: black;
    border: 2px solid rgb(154, 0, 26);
    cursor: pointer;
}