*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(127, 90, 90);
    /* background-image: url("https://img.freepik.com/free-photo/handsome-man-black-suit-with-white-shirt-posing-attractive-guy-with-fashion-hairstyle-confident-man-with-short-beard-adult-boy-with-brown-hair_186202-8527.jpg?size=626&ext=jpg&ga=GA1.2.2095423644.1693310655&semt=ais"); */
    background-size: cover;
    background-position:center;
    background-attachment: fixed;

}
button{
    width: 60px;
    height: 60px;
    font-size: 3em;
    line-height: 30px;
    border-radius: 10px;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: transparent;
    border: none;
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.2)
     , inset 2px 5px 15px rgba(0,0,0,0.5);

}
button:active{
    box-shadow: inset 2px 2px 2px rgba(255,255,255,0.1) ,
    inset -2px -5px 15px rgba(0,0,0,0.5) 
    ;
}
input{
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px 0px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 0 10px;
    background: transparent;
    border: none;
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.2)
     , inset 2px 5px 15px rgba(0,0,0,0.5);
     color: white;

}