@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body{
    font-family: 'Playfair Display', serif;
    /* background-color: black;
    color:white; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
nav{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 26px;
}
ul{
    display: flex;
    margin-right: 33px;
}
ul li{
    list-style: none;
    margin-inline: 22px;
}
ul i{
    font-size: 20px;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 44px;
    margin-left: 40px;

}
img{
    width: 44%;
    height: 400px;
    object-fit: cover;
}
.mainText{
    margin-top: 44px;
    padding: 10px;

}
.mainText h1{
    font-size: 55px;
}
h3{
    font-family: serif; margin-top: 13px;
}
p{
    font-family: sans-serif;
    margin-top: 13px;
}

button{
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    margin-top: 13px;
}
.active{
    background-color: black;
    color: white;
}