*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background-color: rgb(106, 5, 5);
    font-family: 'Poppins', sans-serif;
}
.container{
    
    color: rgb(0, 0, 0); text-align: center;
    align-items: center;
}
.smalldiv{
    background-color: #ffcece;
    width: 200px;
    height: 200px;
    padding-top: 40px;
   
}
p i{
    font-size: 50px;
    cursor: pointer;
}

.addNotes{
    background-color: #ffcece; text-align: center;
    align-items: center;
    width: 400px;
    height: 370px;
    margin: auto;
    padding: 20px;
    transition: all 0.5s ease;
    opacity: 0;
}

.inputs{
    display: block; text-align: center;
    align-items: center;padding: 20px;

}
p{
    margin-top: 10px;
}
input{
    width: 300px;
    height: 30px;border: none;
    outline: none;
}
.main{
display: flex;
justify-content: space-between;


}
textarea{
    border: none;
    outline: none;
    /* padding-left: 20px; */
}
#btn button{
    width: 300px;
    height: 30px;
    /* padding: 10px; */
    margin-top: 10px;
    border: none;
    outline: none;background-color: rgb(106, 5, 5);
    color: rgb(0, 0, 0);
    cursor: pointer;font-family: 'Poppins', sans-serif;
}


.adding{
 color: white;
 background-color: #ffcece;
/* width: 800px; */
margin-inline: 20px;
gap: 20px;
 padding-top: 40px;
 display: flex;
 margin-left: 20px;
 /* padding-left: 20px; */

}
.mean{
    display: flex;
     gap: 20px;margin-inline: 20px;padding-left: 20px; 
     margin-left: 20px;
}

.newClass{
    width: 200px;
    /* height: 200px; */
     color: rgb(0, 0, 0);
    background-color: #ffcece;
   margin-inline: 20px;
   /* padding: 20px; */
   margin-left: 10px;
}