body{
    background-color: black;
    color: white;   font-family: 'Martian Mono', monospace;
}
.container{
    text-align: center;

}
h1{
    background-color: #fff;
    font-size: 44px;
    color: black;
    font-family: 'Martian Mono', monospace;
}
.score{
    display: flex;
    justify-content: center;
}
.computer{
    margin-left: 63px;

}
.rs{
    display: flex;
    justify-content: center;
}

