body{
    font-family: 'Mooli', sans-serif;
    background-color: black;
    color:white
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    width: 460px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
    color: black;
}
input{
    width: 270px;
    padding: 8px;
    border:2px solid rgb(0, 0, 0);
    outline: none;
    margin-top: 5px; height: 35px;
}
button{
    width: 70px;
    height: 35px; padding: 8px;
    border-radius: 2px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    outline: none; margin-top: 5px;
   
}

.text ul {
    position: relative;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: left;
    margin-top: 10px;
    width: 346px;
    padding: 8px;
    margin-left: 24px;
}
ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 19px;

}

