*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyField{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;

}
#link{
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    overflow-x: scroll;
    padding: 12px 10px;
    background-color: white;
    color: black;

}
#link::-webkit-scrollbar{
    display: none;
}
#copy-btn{
    color: white;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
}