body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}
.container{
    width: 440px;
    margin-left: 33%;
    background-color: white;
    color: black;
    margin-top: 5px;
    padding: 11px;


}
.quiz{
    margin-left: 11px;
}
.head{
    text-align: center;
    padding: 11px;
}
.btn{
    text-align: center;
}
button{
    width: 140px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}