*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;

position: relative;
border-radius: 15px;
overflow: hidden;

}
#storiyan{
    height: 100px;
    width: 100%;
    /* background-color: red;border-radius: 10px; */
    padding: 5px;
    border-bottom: 1px solid rgb(202, 189, 189);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
 margin-right: 5px;
}
#storiyan::-webkit-scrollbar{

    display: none;
}

.story{
    /* background-color: rgb(0, 0, 0); */
    border: 3px solid red;
    height: 90px;
    width: 90px;
  
    border-radius: 50%;
    display: inline-block;

}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}



/* //js */
.full-screen{
    height: 100%;
    width: 100%;
    /* background-color: #715454; */
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}